/* __V3D_TEMPLATE__ - template-based file; delete this line to prevent this file from being updated */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    margin: 0px;
    overflow: hidden;
}

#v3d-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.fullscreen-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-size: 100% 100%;
    display: none;
    z-index: 1;
}

.fullscreen-open {
    background-image: url('media/fullscreen_open.svg');
}

.fullscreen-close {
    background-image: url('media/fullscreen_close.svg');
}

.v3d-annotation {
    width: 20px;
    height: 20px;
    min-width: 0px;
    padding: 0px;
    font-size: 0px;
    border: none;
    background-image: url('./info.svg');
    background-color: #00FF00
}

.v3d-annotation-dialog {
    background-color: purple;
    position: sticky;
    top: 0px;
    right: 0px;
    font-style: italic;
    font-size: small;
}
.v3d-annotation-transparent{
	background-color: gray;
	opacity: 0.1;
}

.v3d-simple-preloader-logo {
    background-image: url("./Shortc.png");
    background-size: cover;
}

.v3d-simple-preloader-bar {
    background: #BA00C5;
}

.v3d-simple-preloader-background {
	background-image: url("Starssimple.png")
}
.dialog-info {
	position: absolute; 
	top: 0; 
	right: 0; 
	color: #FCD3D5;
	font-size: 28px; 
	width: 400px; 
	height: 200px;
	border-radius: 15px;
	background-color: mediumslateblue;
	overflow-x: hidden; 
	padding: 5px 10px; 
}

/* removes tap blinking on ios devices */
* { -webkit-tap-highlight-color:rgba(0,0,0,0); }
